* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
  }
  
  nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 2rem;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  section {
    padding: 50px 0;
  }
  
  .project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 30px;
  }
  
 /* .project-card {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }*/
  
  .project-card img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: rgb(7, 7, 7);
    text-align: center;
    padding: 20px;
  }
  
  /* Smooth Animations */
  h1, p {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @media (max-width: 768px) {
    .project-cards {
      grid-template-columns: 1fr;
    }
  }
  